{% extends 'FreshBooksPicrBundle::layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
  $('.picr-joke').tooltip();
</script>
{% endblock %}

{% block content %}
<div class="starter-template">
  <h1>About Img@Kohod</h1>
  <p class="lead">A simple clone of Picr (Built, with love, by Justin Bull).</p>
</div>
{% endblock %}
